nav {
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

body {
  font-family: "Arial";
}

#game {
    width: 800px;
    height: 400px;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.p5-wrapper {
    width: 700px;
    height: 300px;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

canvas {
    border: 1px solid black;
}

#game-canvas {
    position: absolute;
}

#one-d-walkway-canvas {
    position: absolute;
}

#two-d-walkway-canvas {
    position: absolute;
}

#home-buttons {
    display: flex;
    justify-content: space-between;
    position:relative;
    top:40%
}

#game-buttons {
    display: flex;
    position:relative;
    top:5%;
    visibility: hidden; // Initially, the game buttons are hidden
}

.walkway-buttons {
    display: flex;
    position:relative;
    top:5%;
}

#results {
    text-align: center;
}

#one-d-travel-diameter {
    display: inline-block;
    position: relative;
}

#two-d-travel-diameter {
    display: inline-block;
    position: relative;
}

button {
    word-wrap: break-word;
    white-space: normal;
}

p {
    margin: 30px;
}

h2 {
    margin: 30px;
}

.caption {
    text-align: center;
}
